{% extends './base/base.html'%}

{% block css %}
{% endblock %}


{% block content %}
<div class="container" ng-controller="NovoBotCtrl">
    <div class="row">
      <!-- left column -->
      
      <!--/.col (left) -->
      <!-- right column -->
      <div class="col-md-12">
        <!-- general form elements disabled -->
        <div class="card card-warning">
          <div class="card-header bg-color2">
            <h3 class="card-title">Dados da nova máquina</h3>
          </div>
          <!-- /.card-header -->
          {{ fields.loading(ng_show = "loading") }}
          
          <div class="card-body" ng-cloak ng-show="envs.length">
              <div class="row">
               
                {{fields.selectField(3,"Ambiente","Selecione um Ambiente","x.Name for x in envs","novoBot.id_Env")}}
                {{fields.textField(3,"Nome","Insira o nome do Bot","novoBot.botName") }}
                {{fields.numberField(3,"TelegramChat","Insira o id do Chat","novoBot.idChat") }}
                {{fields.numberField(3,"Timeout (minutos)","Insira o timeout","novoBot.pingMinutesTimeout") }}
              </div>
              <div class="row">
                {{fields.textAreaField(12,"Descrição",3,"Descrição","novoBot.descricao") }}
              </div>

              {{ fields.button("CADASTRAR","cadastraBot(novoBot)","","loadingButton") }}

          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- general form elements disabled -->
       
        <!-- /.card -->
      </div>
      <!--/.col (right) -->
    </div>
    <!-- /.row -->
 



{% endblock %}


{% block js %}
<script src="{{ randomJs(url_for('static', filename="angularJS/todosAngular.js")) }}" data-semver="1.4.3"></script>
{% endblock %}

