{% extends 'base.html'%}

{% block css %}
    <!--
    <link href="{{ url_for('static', filename="css/vendors/bootstrap/dist/css/bootstrap.min.css") }}" rel="stylesheet">
    -->
    
    <!-- NProgress -->
    <link href="{{ url_for('static', filename="css/vendors/nprogress/nprogress.css") }}" rel="stylesheet">
    <!-- iCheck -->
    <link href="{{ url_for('static', filename="css/vendors/iCheck/skins/flat/green.css") }}" rel="stylesheet">
    <!-- bootstrap-wysiwyg -->
    <link href="{{ url_for('static', filename="css/vendors/google-code-prettify/bin/prettify.min.css") }}" rel="stylesheet">
    <!-- Select2 -->
    <link href="{{ url_for('static', filename="css/vendors/select2/dist/css/select2.min.css") }}" rel="stylesheet">
    <!-- Switchery -->
    <link href="{{ url_for('static', filename="css/vendors/switchery/dist/switchery.min.css") }}" rel="stylesheet">
    <!-- starrr -->
    <link href="{{ url_for('static', filename="css/vendors/starrr/dist/starrr.css") }}" rel="stylesheet">
    <!-- bootstrap-daterangepicker -->
    <link href="{{ url_for('static', filename="css/vendors/bootstrap-daterangepicker/daterangepicker.css") }}" rel="stylesheet">
    <link href="{{ url_for('static', filename="css/vendors/custom.min.css") }}" rel="stylesheet">
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static', filename="css/vendors/jquery/dist/jquery.min.js") }}"></script>
    <!-- Bootstrap -->
    <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>
    <!-- FastClick -->
    <script src="{{ url_for('static', filename="css/vendors/fastclick/lib/fastclick.js") }}"></script>
    <!-- NProgress -->
    <script src="{{ url_for('static', filename="css/vendors/nprogress/nprogress.js") }}"></script>
    <!-- iCheck -->
    <script src="{{ url_for('static', filename="css/vendors/iCheck/icheck.min.js") }}"></script>

    <!-- Custom Theme Scripts -->
    <script src="{{ url_for('static', filename="css/vendors/custom.min.js") }}"></script>
{% endblock %}

{% block content %}

    <div class="title_left" style="background-color: #ffffff1a;color:white">
      <h3>Enviorments</h3>
      <div class="ln_solid"></div>
    </div>
    

    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="x_panel">
              <div class="x_title">
                <h2>List of Enviorments</h2>
                <div class="clearfix"></div>
              </div>

              <div class="x_content">
                <div class="table-responsive">
                  <table class="table table-striped jambo_table bulk_action">
                    <thead>
                      <tr class="headings">
                        <th>
                          <input type="checkbox" id="check-all" class="flat">
                        </th>
                        <th class="column-title">Name </th>
                        <th class="column-title">Description</th>
                        <th class="bulk-actions" colspan="3">
                          <a class="antoo" style="color:#fff; font-weight:500;">Bulk Actions ( <span class="action-cnt"> </span> ) <i class="fa fa-chevron-down"></i></a>
                        </th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr class="odd pointer">
                        <td class="a-center ">
                          <input type="checkbox" class="flat" name="table_records">
                        </td>
                        <td class=" ">121000037</td>
                        <td class=" ">May 26, 2014 10:52:44 PM</td>
                      </tr>

                      <tr class="even pointer">
                        <td class="a-center ">
                          <input type="checkbox" class="flat" name="table_records">
                        </td>
                        <td class=" ">121000040</td>
                        <td class=" ">May 27, 2014 11:47:56 PM </td>
                      </tr>
                      <tr class="odd pointer">
                        <td class="a-center ">
                          <input type="checkbox" class="flat" name="table_records">
                        </td>
                        <td class=" ">121000039</td>
                        <td class=" ">May 28, 2014 11:30:12 PM</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                        
                    
              </div>
            </div>
        </div>
    </div>
    <div class="row">

        <div class="col-md-6 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Form Design</h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <br />
              <div class="col-md-12">
                <form>
                    <div class="form-group">
                    <label for="exampleInputEmail1">Endereço de email</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Seu email">
                    <small id="emailHelp" class="form-text text-muted">Nunca vamos compartilhar seu email, com ninguém.</small>
                    </div>
                    <div class="form-group">
                    <label for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha">
                    </div>
                    <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Clique em mim</label>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
            </div>

            </div>
          </div>
        </div>
      </div>

    
{% endblock %}